---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://www.github.com/danielrosehill" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto:public@danielrosehill.com"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/danielrosehill/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
            <div class="wavy-divider"></div>
        </ul><br/>
        <small>Proudly built in Jerusalem 🇮🇱 with <a href="https://www.astro.builld" target="_blank">Astro CMS</a></small>
    </div>
</footer>

